img {
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 15px;
}

.box {
  grid-row: span 4;
  display: grid;
  grid-template-rows: subgrid;
  gap: 10px;
  background-color: #f9f9f9;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.rating {
  display: flex;
  align-self: flex-end;
}

.stjerne {
  width: 15px;
}

nav ul {
  list-style: none; /* Fjerner punkttegn */
  display: flex; /* Gør listen til en række */
  padding: 0; /* Fjerner standard-padding */
  margin: 0; /* Fjerner standard-margin */
}

nav ul li {
  display: inline; /* Sørger for, at <li> står på linje */
  margin-right: 5px; /* Lidt afstand mellem elementerne */
}

nav ul li a {
  text-decoration: underline; /* Fjerner understregning fra links */
  color: #951b1e; /* Tilpasser tekstfarve */
}

nav ul li:last-child {
  margin-right: 0; /* Fjerner margin fra det sidste element */
}

#mealtypebreadcrumb {
  color: #951b1e; /* Tilpasser tekstfarve */
}
