
.lys_firkant {
  background-color: #deb8b8;
  margin-top: 40px;
  padding: 10px;
}

.mørk_firkant {
  background-color: #d09b9b;
  margin-left: 20px;
  margin-top: 40px;
  padding: 10px;
}

p{
    margin-left: 20px;

}

#mealtypebreadcrumb {
  margin-top: 2.1px;
}

.ikon{
    width: 40px;
}

img{
    width: 100%;
    margin-top: 30px;
}

h2{
    text-align: center;
}

main{
    margin-left: 2rem;
    margin-right: 2rem;
}

.elementer{
    margin-left: 20px;
   
}

.elementer p {
  margin-bottom: 20px; /* Juster afstanden efter behov */
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 60px;
}

@media(min-width: 600px){
.produkt {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info {
  display: flex;
  justify-content: space-around;
}

.instructions {
  display: grid;
  grid-template-columns: 1fr 2fr;
}


}

/******* menu */

header {
  text-align: center;
  padding-bottom: 4%;
  padding-top: 2%;
}

.logo {
  width: 15%;
}

.sammen {
  background-color: #951b1e;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 2%;
  padding-bottom: 3%;
  margin-top: 8rem;
}

.footer_h2 {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 4rem;
  text-align: left;
}

.footer_p {
  font-family: inter;
  color: white;
  margin-top: -5%;
  margin-left: 0;
}

label {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.footer_billede {
  width: 100%;
  padding: auto;
  margin-inline: center;
  padding-top: 15%;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 70%; /** Fylder det hele **/
  padding: 12px; /** Større felter **/
  border: 1.5px solid white; /** Kant farve **/
  border-radius: 7px; /** Rundere hjørner **/
  margin-top: 6px; /** Felt afstand til h **/
  margin-bottom: 16px; /** Afstand ef. boks **/
  font-family: lato; /** Font **/
  background-color: #951b1e;
}

.boks2 {
  margin: auto;
  margin-inline: center;
}

button {
  cursor: pointer; /** Mussehånd **/
  border: 1.5px solid white; /** Kant farve **/
  background-color: #951b1e;
  color: white;
  border-radius: 12px; /** Rundere hjørner **/
  text-decoration: underline;
  padding: 8px; /** Større felter **/
  padding-left: 2%;
  padding-right: 2%;
}

.knap {
  padding-top: 2%;
}

.name,
.email {
  padding-top: 1%;
}

button:hover {
  background-color: white;
  color: #951b1e;
  font-weight: bolder;
}

@media (max-width: 800px) {
  .footer_h2 {
    font-size: 3rem;
  }

  .footer_billede {
    width: 70%;
    padding-left: 20%;
    padding-right: 10%;
  }

  .footer_p {
    font-size: 0.8rem;
  }
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 70%;
  }
}

/** MOBIL **/
@media (max-width: 500px) {
  .sammen {
    grid-template-columns: 1fr;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 90%;
  }

  .knap {
    padding-top: 2%;
    padding-bottom: 5%;
  }

  .footer_billede {
    width: 80%;
    padding-left: 0%;
    padding-right: 0%;
  }

  .boks2 {
    text-align: center;
  }

  .footer_h2 {
    font-size: 4rem;
  }

  label {
    font-size: 0.9rem;
  }

  .mørk_firkant {
  background-color: #d09b9b;
  margin-left: 0px;
  margin-top: 40px;
  padding: 10px;
}
}

/* brødkrumme */

nav ul {
  list-style: none; /* Fjerner punkttegn */
  display: flex; /* Gør listen til en række */
  padding: 0; /* Fjerner standard-padding */
  margin: 0; /* Fjerner standard-margin */
}

nav ul li {
  display: inline; /* Sørger for, at <li> står på linje */
  margin-right: 5px; /* Lidt afstand mellem elementerne */
}

nav ul li a {
  text-decoration: underline; /* Fjerner understregning fra links */
  color: #951b1e; /* Tilpasser tekstfarve */
}

nav ul li:last-child {
  margin-right: 0; /* Fjerner margin fra det sidste element */
}

#namebreadcrumb{
text-decoration: underline; /* Fjerner understregning fra links */
  color: #951b1e; /* Tilpasser tekstfarve */
  
}

#mealtypebreadcrumb{
margin-bottom: 1px;
margin-top: 0px;
  }

/** stjerne */ 

.rating {
  display: flex;
  align-items: center; /* Sørger for at p og img er centreret vertikalt */
}

.stjerne {
  width: 22px;
  margin-left: 5px; /* Lidt luft mellem tekst og ikon */
  margin-top: 0px;
}

#nameheading{
    margin-bottom: 70px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .elementer{
    margin-left: 0px;
  }

  .info {
  display: block;
  justify-content: space-around;
  padding: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
}

.ikon{
    width: 20px;
}

.lys_firkant{
    margin-top: 20px;
}

.mørk_firkant{
    margin-left: 0px;
}

.elementer p{
    margin-left: 0px;
    font-size: 1.5rem;
}
.info p{
    margin-left: 0px;

   
}

.info{
    margin-bottom: 40px;
}

nav ul li a {
    font-size: 10px; /* Mindre tekststørrelse på mobil */
  }

  #mealtypebreadcrumb{
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 2px;
  }

  #namebreadcrumb{
    font-size: 10px;
    margin-top: 5px;
  }

}



